.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-double);
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-double);

  width: 100%;
}

.card h2 {
  font-size: var(--font-size-card-title);
}

.card .content {
  display: grid;
  gap: var(--spacing-double);
}

.card .image img {
  display: block;

  width: 100%;
  height: var(--card-image-height);
  object-fit: cover;
  object-position: 50% 50%;
}

@media (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card .content {
    grid-template-columns: 1fr 1fr;
  }
}