footer {
  display: grid;
  justify-content: center;

  padding: var(--spacing-double);
  border-top: var(--border) solid var(--color-border);
  background-color: var(--color-accent);
  text-align: center;
}

footer .content {
  display: grid;
  gap: var(--spacing-double);
  justify-content: center;

  width: 100%;
  max-width: var(--footer-max-width);
}

footer ul {
  list-style: none;
}

@media (min-width: 700px) {
  footer .content {
    grid-template-columns: repeat(3, 1fr);
  }
}