/**
 * TODO custom variables
 * TODO skipta yfir í grid
 */
.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--spacing-triple);
}

.wrapper > * {
  grid-column: 1 / -1;
}

main {
  width: 100%;
  margin: 0 auto;
}
